{% extends 'base.html' %}
{% block body %}
<div class="container">
    <blockquote>
      <p>欢迎使用WebScan扫描器</p>
    </blockquote>
    <div class="page-header">
      <h1>我们能为您做些什么 <small>如下：</small></h1>
        <div class="alert alert-success">CMS识别</div>
        <div class="alert alert-info">端口扫描</div>
        <div class="alert alert-warning">旁站C段</div>
        <div class="alert alert-danger">漏洞利用</div>
        <div class="alert alert-success">AWVS使用</div>
    </div>
</div>
{% endblock %}